<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
        <div id="h2"><a href="{% url 'listar_videojuegos' %}"> Daini Alquileres </a></div>
    <header>
        <a href="{% url 'list_plataforma' %}">Plataformas</a>
        <a href="{% url 'list_generos' %}">Géneros</a>
        <a href="{% url 'añadir_videojuego' %}">Añadir Videojuego</a>
        <a href="{% url 'registrar_alquiler' %}">Registrar Alquiler</a>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>